.header{
    article{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        gap: 2%;
        width: fit-content;
        box-sizing: border-box;
    }
    img{
        width: 8%;
        min-width: 150px;
        min-height: 120px;
    }
    h1{
        font-size: clamp(40px,  5vw, 50px);

        margin: 0;
    }
    i{
        scale: 1.2;
        display: flex;
        padding: 10px;
        border: 1px  solid #fff;
        border-radius: 10px;
        width: auto;
        box-sizing: border-box;
        margin: 20px;
        svg{
            max-width: 100px;;
        }
    }
}

.main{
    .description{
        text-align: justify;
        h2{
            letter-spacing: 2px;
            margin: auto 0;
            color:#000;
        }
        a{
            color: #13c003;
            text-decoration: underline;
        }
        span{
            font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
        }
    }
    
    .content{
        section{
            display: flex;
            height: fit-content;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 5px;
            color: #000000;
            font-family: Arial, Helvetica, sans-serif;
            h3{
                margin: 0 auto;
            }
            hr{
                width: 90%;
                border-color: $hrColor;
            }
            .buy__container{
                display: flex;
                flex-direction: column;
                width: 95%;
                gap: 2%;
                .products{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    gap: 1%;
                    background: $backGroundColorProducts;
                    border-radius: 10px;
                    align-items: center;
                    justify-content: space-around;
                    margin: 10px auto;
                    padding: 5px;
                    p{
                        text-align: center;
                        margin: 0;
                    }
                    span{
                        font-weight: bold;
                    }
                    .product__parameter{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 2px;
                    }
                    .logo__name{
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        .logo{
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: #3700ff;
                            padding: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                  
                }
            }
            .hidde{
                display: none;
            }
            .buy__header, .hold__header, .sell__header{
                display: flex;
                flex-direction: row;
                gap: 1%;
                font-size: 24px;
                align-items: flex-end;
            }
            
        }
        .buy{
            grid-row: 1/2;
            background-color: #00ff0059;
            border-radius: 10px;
            margin: 2%;
        }
        .hold{
            grid-row: 2/3;
            background-color: #ffff0099;
            border-radius: 10px;
            margin: 2%;
        }
        .sell{
            grid-row: 3;
            background-color: #ff000070;
            border-radius: 10px;
            margin: 2%;
        }
    }
    
}
.footer{
    hr{
        width: 90%;
        border-color: $hrColor;
    }
}