*{
    h1, h2, h3{
        font-family: "Spicy Rice",Arial, Helvetica, sans-serif;
    }
    p{
        font-family: Arial, Helvetica, sans-serif;
    }
}
html{
    background-color: $backGroundHtmlLight;
}
body{
    margin: 0;
}

.header{
    background-color: #00e7ff;
    color: #fff;
}

.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 1% 5%;
    box-sizing: border-box;
    color:#000;
    .description{
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
        height: fit-content;
    }
    .content{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3,1fr);
    }
    .await{
        display: flex;
    }
}

.footer{
    padding: 1%;
}