@charset "UTF-8";
.header article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  gap: 2%;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
}
.header img {
  width: 8%;
  min-width: 150px;
  min-height: 120px;
}
@media screen and (max-width: 560px) {
  .header img {
    min-width: 100px;
    min-height: 80px;
  }
}
.header h1 {
  font-size: clamp(40px, 5vw, 50px);
  margin: 0;
}
.header i {
  scale: 1.2;
  display: flex;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  width: auto;
  box-sizing: border-box;
  margin: 20px;
}
@media screen and (max-width: 560px) {
  .header i {
    scale: 0.8;
  }
}
.header i svg {
  max-width: 100px;
}

.main .description {
  text-align: justify;
  width: 100%;
}
.main .description h2 {
  letter-spacing: 2px;
  margin: auto 0;
  color: #000;
  width: 100%;
}
.main .description a {
  color: #13c003;
  text-decoration: underline;
  width: 100%;
}
.main .description span {
  font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
  width: 100%;
}
.main .description p {
  width: 100%;
}
.main .content section {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
.main .content section h3 {
  margin: 0 auto;
}
.main .content section hr {
  width: 90%;
  border-color: rgba(10, 10, 10, 0.2470588235);
}
.main .content section .products__container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 2%;
}
.main .content section .products__container .products {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1%;
  background: linear-gradient(194deg, rgba(238, 234, 234, 0.61), rgba(0, 0, 0, 0.12));
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
  padding: 5px;
}
@media screen and (max-width: 630px) {
  .main .content section .products__container .products {
    overflow-x: auto;
  }
}
.main .content section .products__container .products p {
  text-align: center;
  margin: 0;
}
.main .content section .products__container .products span {
  font-weight: bold;
}
.main .content section .products__container .products .product__parameter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.main .content section .products__container .products .logo__name {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.main .content section .products__container .products .logo__name .logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #3700ff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content section .products__container .products .logo__name .logo img {
  width: 100%;
  height: 100%;
}
.main .content section .hidde {
  display: none;
}
.main .content section .buy__header, .main .content section .hold__header, .main .content section .sell__header {
  display: flex;
  flex-direction: row;
  gap: 1%;
  font-size: 24px;
  align-items: flex-end;
}
.main .content .buy {
  grid-row: 1/2;
  background-color: rgba(0, 255, 0, 0.3490196078);
  border-radius: 10px;
  margin: 2%;
}
.main .content .hold {
  grid-row: 2/3;
  background-color: rgba(255, 255, 0, 0.6);
  border-radius: 10px;
  margin: 2%;
}
.main .content .sell {
  grid-row: 3;
  background-color: rgba(255, 0, 0, 0.4392156863);
  border-radius: 10px;
  margin: 2%;
}
.main .await #spinner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(139, 139, 139, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}
.main .await .loader {
  border: 8px solid #f3f3f3; /* Color de fondo */
  border-top: 8px solid #3498db; /* Color del spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer hr {
  width: 90%;
  border-color: rgba(10, 10, 10, 0.2470588235);
}

@media (prefers-color-scheme: dark) {
  .main .content section hr {
    border-color: #fff;
  }
  .main .content .buy {
    grid-row: 1/2;
    background-color: transparent;
    border: 5px solid rgba(0, 255, 0, 0.3490196078);
    border-radius: 10px;
    margin: 2%;
  }
  .main .content .hold {
    grid-row: 2/3;
    background-color: transparent;
    border: 5px solid rgba(255, 255, 0, 0.6);
    border-radius: 10px;
    margin: 2%;
  }
  .main .content .sell {
    grid-row: 3;
    background-color: transparent;
    border: 5px solid rgba(255, 0, 0, 0.4392156863);
    border-radius: 10px;
    margin: 2%;
  }
}
* {
  box-sizing: border-box;
}
* h1, * h2, * h3 {
  font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
}
* p {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #f7f7f7;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  background-color: #00e7ff;
  color: #fff;
  width: 100%;
  padding: 1%;
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 1% 5%;
  color: #000;
}
.main .description {
  grid-column: 1/-1;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  width: 90%;
}
.main .content {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.main .await {
  display: flex;
}

.footer {
  padding: 1%;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 1% 2%;
  }
  .description {
    width: 100%;
  }
  .content {
    grid-template-rows: repeat(2, auto);
  }
}
@media screen and (max-width: 502px) {
  .header {
    padding: 0;
    min-width: 490px;
  }
  .main {
    padding: 1% 1%;
  }
}
@media (prefers-color-scheme: dark) {
  * h1, * h2, * h3 {
    color: #ffffff !important;
  }
  * p, * span {
    color: #e0e0e0;
  }
  html {
    background-color: #0b1b30;
  }
  body {
    color: #ffffff;
  }
  .header {
    background-color: #005a8b;
    color: #00e7ff;
  }
  .footer {
    color: #e0e0e0;
  }
}/*# sourceMappingURL=main.css.map */